.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.top {
  background-color: green;
  width: 100%;
  height: 20vh;
}

.left {
  background-color: red;
  width: 80%;
  float: left;
  height: 80vh;
}

.right {
  background-color: blue;
  width: 20%;
  float: right;
  height: 80vh;
}

.cell_row {
  display: table;
}

.cell {
  background: white;
  border: 1px solid black;
  float: left; 
  height: 50px;
  width: 50px;
  text-align: center;
}

.color_button {
  width: 40px;
  height: 40px;
}